body {
    background-image: url("../images/jm.gif");
    /* background: black; */
}

.container {
    width: 80%;
    background-color: #73C8A9;
}

.jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #b6fbff;
}

h2 {
    font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}

.card-body {
    padding: 10px;
    text-align: center;
    background-color: #73C8A9;
    }

#timer {
    font-size: 24px;
}

.btnStart {
    margin-left: 50px;
    margin-right: 50px;
}

#timer {
    background-color: #b6fbff;
}
